<div id="toolbar_container">
  <div id="toolbar">
    <button id="getAllBtn" (click)="getAllBook()">GET ALL</button>

    <form id="input_container">
      <div id="text">Create new item here</div>
      <input name="id" placeholder="Type id" type="text" [(ngModel)]="id">
      <input name="name" placeholder="Type name" type="text" [(ngModel)]="name">
      <input name="price" placeholder="Type price" type="text" [(ngModel)]="price">
      <input name="publisher" placeholder="Type publisher" type="text" [(ngModel)]="publisher">
      <button id="creatBtn" (click)="postBook()">CREATE</button>
    </form>
  </div>
</div>

<div id="item_container">
  <div id="item" *ngFor="let book of (books$ | async)">
    <div class="info">ID: {{book.id}}</div>
    <div class="info">Name: {{book.name}}</div>
    <div class="info">Price: {{book.price}}</div>
    <div class="info">Publisher: {{book.publisher}}</div>
  </div>
</div>